<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<section id="transapp">
		<header class="header">
			<h4>Transactions</h4>
			<div>
				<form action="/transactions" method="post" id="addTrans">
					<input id="source" placeholder="Source" autofocus>
					<input id="category" placeholder="Category">
					<input id="amount" placeholder="Amount">
					<input type="radio" name="new-outflow" id="inflow">Inflow
					<input type="radio" name="new-outflow" id="outflow">Outflow
					<input type="button" id="add-trans" value="Add Transaction">
				</form>
			</div>
		</header>
	</section>
	<section id="main">
		<ul id="trans-list"></ul>
	</section>
	<footer></footer>

<script type="text/template" id="trans-template">
	<div class="view">
		<label><%= source %></label>
		<label><%= category %></label>
		<label><%= amount %></label>
	</div>
</script>
<script type="text/template" id="stats-template">
	<div>To be continued...</div>
</script>
<script src="assets/js/lib/jquery-3.3.1.min.js"></script>
<script src="assets/js/lib/underscore.js"></script>
<script src="assets/js/lib/backbone.js"></script>
<script src="assets/js/models/transaction.js"></script>
<script src="assets/js/collections/transactions.js"></script>
<script src="assets/js/views/transaction.js"></script>
<script src="assets/js/views/app.js"></script>
<script src="assets/js/routers/router.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>